:root {
  --lightgrey--: rgb(186, 181, 181);
  --grey--: rgb(128, 125, 125);
  --blue--: rgb(135, 206, 235);
  --white--: rgb(249, 247, 247);
  --modal-blue--: rgb(67, 136, 193);
  --modal-grey: rgba(27, 27, 27, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  top: 30px;
}

.loginNav {
  font-size: 24px;
  text-align: center;
}

.login {
  position: relative;
  margin: 0 auto;
  top: 150px;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--grey--);
  border-radius: 5px;
}

.login_container input {
  width: 150px;
}

.login_title {
  margin-top: 0px;
  margin-bottom: 200px;
}

.account {
  position: relative;
  display: block;
  margin-bottom: 3px;
  padding: 3px;
  border: 2px solid var(--lightgrey--);
  border-radius: 3px;
}

.hidden {
  display: none;
}

#login-id {
  bottom: 110px;
}

#login-pw {
  bottom: 80px;
}

#login {
  width: 100%;
  background-color: var(--blue--);
  border-color: transparent;
  color: var(--white--);
  bottom: 50px;
}

#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--modal-grey);
  border-radius: 10px;
}

#modal .modal-window {
  background: var(--modal-blue--);
  border-radius: 10px;
  width: 500px;
  height: 100px;
  position: relative;
  top: 25px;
  padding: 10px;
}
#modal .modalTitle {
  font-size: 24px;
  padding-left: 10px;
  display: inline;
  color: var(--white--);
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  color: var(--white--);
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  color: var(--white--);
}


